<div class="row" *ngIf="!fondo; else main_content">
 <h1>Cargando...</h1>
</div>

<ng-template #main_content>
<div class="row g-0" style="width: 70rem; height: 50rem;" >
  <div class="col-md-4">
    <img [src]="fondo.img"  style="height: 40rem; width: 20rem;">
  </div>

    <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title display-7 fw-bold">{{fondo.nombre | uppercase }}</h5>          
            <br><br>
            <a [routerLink]="['/fondo.catego']" class="btn btn-outline-secondary btn-block" style="width: 15rem; height: 2rem;">Regresar</a>
          
          </div>    
        </div>      
</div>
</ng-template>

