<h1 class="text-start" class="display-5 fw-bold fs-5">Fondos de Pantalla HD y Ultra 4k Wallpapers</h1>
<p class="text-start"  class="col-md-8 fs-6">Descarga de fondos de pantalla o wallpapers para tu celular o escritorio PC con calidades como HD y 4k ultra UHD.</p>


<div id="carouselExampleIndicators" class="carousel slide"  style="width: 60rem; height: 35rem;">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
   </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://lh3.googleusercontent.com/pw/AJFCJaVj-mleZDAA9qp-s8WBKHWx9vIYuEDIIau0E_Ohh2sEPOTnERuvgXWqEjhrtQ65sui_gnyB8u1S8hGcf_imcjfw8VMtbxXwW2WqIiKhprf7fke-9hHJiwHngpJ8nOH9c-U7frgJ_aBhXzEUFw4WBl8Z=w1346-h757-s-no?authuser=1" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://lh3.googleusercontent.com/pw/AJFCJaVnNQG1IE35OpbSVbPKfFX4kpQblqa15QQ-TiK0xYLaxZtbidK3LMCvTAT_i_yzkflVT6pIwUCicMPImSe6_lpUFaL7B1s0delUuYMlCEWK7e8cinZSyZBVvnsbFvIUVsk6UdMNSYd7JVZCvzYZN6mr=w1346-h757-s-no?authuser=1" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://lh3.googleusercontent.com/pw/AJFCJaVilok7A5gPdSr9kyZge695jgcQYteL5hee6bL5yNa7zXbNyZrl9k5s5ccP1To8TdNx1ghfm8RwEtfWhpsRhUq7_ZDBX3I7VtmhxbJzMUGgo3Coc9EqFl2UsYuos40O2CueXArwD_mU5NpMVG6egSSq=w1346-h757-s-no?authuser=1" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>