<h1 class="text-start" class="display-5 fw-bold fs-0">Series</h1>
<p class="text-start"  class="col-md-8 fs-6">Descarga fondos de pantalla para tu celular con calidades como HD y 4k ultra UHD.</p>

<div class="row "  >
    <div class="col -md-4 p-1"  *ngFor="let serie of listarSeries; let i=index">
     <div class="figure card-photo" (click)="selectFondo(i, serie.catego) " style="width: 9rem; height: 18rem;">
       <img [src]="serie.img"  style="width: 8.9rem; height: 18rem;">
     </div>  
     </div>
   </div>
